@media screen and (max-width:768px){
    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    .nav-properties{
        display: flex;
        flex-direction: column;
    }
    .primary-btn{
        display: inline-flex;
        padding: 11px 30px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 48px;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        color: #FFF;
        font-size: 10px;
        font-weight: 300;
    }
    .rogue{
        background: #4EC5F7;
    }
}

@media screen and (max-width:425px){
    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    .nav-properties,ul{
        display: flex;
        flex-direction: column;
    }
    .section1{
        display: flex;
        flex-direction: column;
    }




    .menu{
        display: flex;
        flex-direction: column;
    }
    .legal{
        display: flex;
        flex-direction: column;
    }

    .menu ul{
        display: flex;
        flex-direction: row;
    }
    .social ul{
        display: flex;
        flex-direction: row;
    }
    .legal ul{
        display: flex;
        flex-direction: row;
    }


    .section3{
        display: flex;
        flex-direction: column;
    }
    .section3-picture{
        margin-left: 100px;
    }
}